<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <proxy enabled="true" reverseRewriteHostInResponseHeaders="false" />

    <rewrite>
      <rules>
        <rule name="ReverseProxy" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:4001/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>