<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <proxy enabled="true" reverseRewriteHostInResponseHeaders="false" timeout="01:00:00" />

    <rewrite>
      <rules>
        <rule name="ReverseProxy" stopProcessing="true">
          <match url=".*" />
          <serverVariables>
            <set name="RESPONSE_BUFFER_LIMIT" value="0" />
          </serverVariables>
          <action type="Rewrite" url="http://localhost:4001/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>